<div class="container welcome-section d-flex justify-content-center align-items-center text-center">
  <div class="welcome-card p-4">
    <h1 class="fw-bold text-primary">Bem-vindo ao Controle Patrimonial</h1>

    <p class="lead mt-3">
      Nossa plataforma ajuda você a gerenciar seus ativos de forma eficiente, garantindo controle total 
      sobre o patrimônio da sua empresa.
    </p>

    <p>
      Cadastre, monitore e acompanhe seus bens de maneira prática e segura.
    </p>

    <button class="btn btn-primary btn-lg mt-4 w-100" (click)="navigateToLogin()">Acessar</button>
  </div>
</div>
