<div class="container mt-4">
  <h2 class="mb-3 text-primary">Gerenciamento de Usuários</h2>

  <div class="table-responsive">
    <table class="table table-dark table-striped table-bordered text-center align-middle">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td>
            <button class="btn btn-outline-secondary" (click)="verMais(usuario.id)">
              <i class="bi bi-three-dots-vertical"></i> Ver Mais
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>

  <div class="d-flex gap-2 mt-3">
    <button class="btn btn-primary" (click)="abrirModal()" data-bs-toggle="modal" data-bs-target="#modalCreateInstance">
      <i class="bi bi-clipboard-plus"></i> Cadastrar novo usuário
    </button>
  </div>
</div>

<div class="modal fade" id="modalCreateInstance" #usuarioCreateModal tabindex="-1" aria-labelledby="UsuarioCreateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header bg-primary">
        <h5 class="modal-title">Cadastro de Usuário</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="successMessage" class="alert alert-success text-center">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger text-center">{{ errorMessage }}</div>

        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Nome</label>
              <input type="text" class="form-control" formControlName="nome">
            </div>

            <div class="col-md-6">
              <label class="form-label">E-mail</label>
              <input type="email" class="form-control"
                     formControlName="email"
                     placeholder="Digite seu e-mail"
                     [class.is-invalid]="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
              <div class="invalid-feedback">E-mail inválido</div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control"
                     formControlName="senha"
                     placeholder="Digite sua senha"
                     [class.is-invalid]="usuarioForm.get('senha')?.invalid && usuarioForm.get('senha')?.touched">
              <div class="invalid-feedback">Senha obrigatória</div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Privilégio</label>
              <select class="form-select" formControlName="permissao">
                <option *ngFor="let p of privilegioList" [value]="p">{{ p }}</option>
              </select>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-success" [disabled]="usuarioForm.invalid || isSubmitting">
              <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm me-2"></span>
              Cadastrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditInstance" #usuarioEditModal tabindex="-1" aria-labelledby="UsuarioEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header bg-primary">
        <h5 class="modal-title">Editar Usuário</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="successMessage" class="alert alert-success text-center">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger text-center">{{ errorMessage }}</div>

        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Nome</label>
              <input type="text" class="form-control" formControlName="nome">
            </div>

            <div class="col-md-6">
              <label class="form-label">E-mail</label>
              <input type="email" class="form-control"
                     formControlName="email"
                     placeholder="Digite seu e-mail"
                     [class.is-invalid]="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
              <div class="invalid-feedback">E-mail inválido</div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control"
                     formControlName="senha"
                     placeholder="Digite sua senha"
                     [class.is-invalid]="usuarioForm.get('senha')?.invalid && usuarioForm.get('senha')?.touched">
              <div class="invalid-feedback">Senha obrigatória</div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Privilégio</label>
              <select class="form-select" formControlName="permissao">
                <option *ngFor="let p of privilegioList" [value]="p">{{ p }}</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <div *ngIf="!modoEdicaoAtivado" class="d-flex justify-content-start w-100">
              <button type="button" class="btn btn-primary" (click)="habilitarEdicao()"><i class="bi bi-pencil-square"></i> Edição </button>
            </div>
          
            <div *ngIf="modoEdicaoAtivado" class="d-flex justify-content-end w-100 gap-2">
              <!-- <button class="btn btn-danger" (click)="deletarUsuario(usuarioSelecionado?.id)">
                <i class="bi bi-trash"></i> Excluir Hardware
              </button> -->
              <button type="button" class="btn btn-success" (click)="salvarEdicao()">
                <i class="bi bi-save"></i> Salvar
              </button>
              <button type="button" class="btn btn-secondary" (click)="cancelarEdicao()">
                <i class="bi bi-x-circle"></i> Cancelar
              </button>
            </div>
          </div>   
        </form>
      </div>
    </div>
  </div>
</div>