<div class="container text-center mt-5">
  <div class="card shadow-lg p-4 bg-light">
    <h1 class="fw-bold text-primary">Bem-vindo ao Controle Patrimonial</h1>
    <p class="lead mt-3">
      Nossa plataforma ajuda você a gerenciar seus ativos de forma eficiente, garantindo controle total 
      sobre o patrimônio da sua empresa.
    </p>
    <p>
      Cadastre, monitore e acompanhe seus bens de maneira prática e segura.
    </p>
    <button class="btn btn-primary btn-lg mt-3" (click)="navigateToLogin()">Acessar</button>
  </div>
</div>
