<div class="container mt-4">
    <h2 class="text-center mb-4">Lista de Hardwares</h2>
  
    <div class="table-responsive">
      <table class="table table-striped table-bordered align-middle">
        <thead class="table-dark">
          <tr>
            <th>Código Patrimonial</th>
            <th>Gabinete</th>
            <th>Armazenamento</th>
            <th>Fonte de alimentação</th>
            <th>Memória RAM</th>
            <th>Placa mãe</th>
            <th>Placa de vídeo</th>
            <th>Placa Wi-Fi</th>
            <th>Processador</th>
            <th>Cooler</th>
            <th>Preço total</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody *ngIf="hardwaresAgrupados">
          <tr *ngFor="let codigo of getCodigosPatrimoniais()">
            <td>{{ codigo }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Gabinete') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Armazenamento') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Fonte de alimentação') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Memória RAM') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Placa mãe') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Placa de vídeo') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Placa Wi-Fi') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Processador') }}</td>
            <td>{{ getComponenteNome(hardwaresAgrupados[codigo], 'Cooler') }}</td>
            <td class="fw-bold text-success">R$ {{ getTotalPreco(hardwaresAgrupados[codigo]).toFixed(2) }}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-warning me-2" (click)="editarHardware(codigo)">✏️ Editar</button>
              <button class="btn btn-sm btn-danger" (click)="deletarHardware(codigo)">🗑️ Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mb-3" (click)="gerarRelatorio()"><i class="bi bi-card-list"></i> Gerar Relatório</button>
    </div>
  </div>
  