<div class="container mt-5 text-light bg-dark p-4 rounded shadow">
  <h2 class="mb-4">Selecione sua Instituição</h2>

  <!-- Mensagem de erro -->
  <div *ngIf="erro" class="alert alert-danger" role="alert">
    {{ erro }}
  </div>

  <!-- Formulário de seleção -->
  <div class="container mt-5">
    <div class="card shadow p-4 rounded">
      <h3 class="mb-4">Selecione a Instituição</h3>

      <form (ngSubmit)="selecionarInstituicao()">
        <div class="mb-3">
          <label for="instituicao" class="form-label">Instituição</label>
          <select id="instituicao" class="form-select" [(ngModel)]="instituicaoSelecionadaId" name="instituicao"
            required>
            <option [ngValue]="null" disabled>Selecione uma instituição</option>
            <option *ngFor="let inst of instituicoes" [ngValue]="inst.id">
              {{ inst.nomeFantasia }}
            </option>
          </select>

        </div>

        <button type="submit" class="btn btn-primary" [disabled]="carregando">
          <span *ngIf="carregando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{ carregando ? 'Entrando...' : 'Entrar' }}
        </button>
      </form>
    </div>
  </div>
</div>