    <div class="container">
        <h1>Contato comercial</h1>
        <div class="contact-info">
            <p><strong><i class="bi bi-whatsapp"></i> Telefone:</strong> <a href="tel:+5546999059545"> +55 46 99905-9545</a></p>
            <p><strong><i class="bi bi-email"></i> E-mail:</strong> <a href="mailto:guilhermemomolli.comercial@gmail.com"> guilhermemomolli.comercial</a></p>
            <p><strong><i class="bi bi-github"></i> GitHub:</strong> <a href="https://github.com/guilherme-momolli" target="_blank"> github.com/guilherme-momolli</a></p>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/guilherme.momolli" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/guilherme-momolli" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/sua-chave-api.js" crossorigin="anonymous"></script>